{{ define "index.tmpl" }}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Pixfolio - 一款用于展示作品集的小工具，基于 Golang & SolidJS 开发。</title>

        {{range $path := .scriptPath}}
        <script type="module" crossorigin src="{{$path}}"></script>
        {{end}}

        {{range $path := .cssPath}}
        <link rel="stylesheet" href="{{$path}}" />
        {{end}}

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.bunny.net">
        <link href="https://fonts.bunny.net/css?family=figtree:400,600&display=swap" rel="stylesheet" />
    </head>
    <body class="antialiased">
        <div id="root"></div>
    </body>
</html>
{{ end }}
