APP_NAME=Goravel
APP_ENV=development
APP_KEY=9bNZMRRwQv6S1fbld6IxMBCIlN44H7L7
APP_DEBUG=true
APP_URL=
APP_HOST=0.0.0.0
APP_PORT=3001

GRPC_HOST=
GRPC_PORT=

JWT_SECRET=

LOG_CHANNEL=stack
LOG_LEVEL=error

DB_CONNECTION=sqlite
DB_HOST=
DB_PORT=
DB_DATABASE=storage/app/pixfolio.db
DB_USERNAME=
DB_PASSWORD=

SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=
REDIS_PORT=6379

CACHE_STORE=memory

MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=
