@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  background-color: #F7F8F9;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.no-scrollbar {
  scrollbar-width: none;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  //background-color: #16161d;
}

::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: transparent;
}